.compare_tablea {
    display : inline-blok;
    float: left;
    height : 100%;
    margin-left: 5%;
    width : 30%;
    border : 1px;
    text-align : left;
    color : black;
    background-color : white;
    }

.compare_tableb {
    display : inline-blok;
    float: center;
    height : 100%;
    width : 30%;
    border : 1px;
    text-align : center;
    color : black;
    background : white;
    }

.compare_tablec {
    display : inline-blok;
    height : 100%;
    width : 30%;
    border : 1px;
    text-align : center;
    color : black;
    background : white;
    }