/* grpah Viewer */

.zeroToOne {
    display:flex;
    margin-top : 2%;
    margin-left:2%;
    margin-right: 1%;
}

.zeroToOne > article{
    width : 1500px;
}


.OneToTwo {
    display:flex;
    margin-top :1%;
    margin-left:2%;
    margin-right: 1%;
}
.OneToTwo > article{
    width : 1500px;
}

.threeTofour {
    display:flex;
    margin-top : 1%;
    margin-left : 2%;
    margin-right: 1%;
}
.threeTofour > article{
    width : 1500px;
}