
/* Text Log Declare */

.text_log {
    height: 130px;
    display: flex;
    margin-left: 1.5%;
    margin-right: 2%;
}


/* set */

.green_text {
    width: 30%;
    height: 100%;
    margin-left: 3%;
    margin-right: 2%;
    display: flex;
}

.green_text>#green_signal {
    width: 150px;
    height: 100%;
    background-image: url("laugh.png");
    background-size: 100px 130px;
    background-repeat: no-repeat;
    float: left;
}

.green_text>#green_log_text {
    width: 100%;
    font-family: 'fantasy';
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    background: #2478ff;
    text-align: left;
    font-size: xx-large;
}


/*end*/

.caution_text {
    width: 30%;
    height: 100%;
    margin-left: 1%;
    margin-right: 2.5%;
    display: flex;
}

.caution_text>#caution_signal {
    width: 150px;
    height: 100%;
    background-image: url("sad.png");
    background-repeat: no-repeat;
    background-size: 100px 130px;
    float: left;
}



.caution_text>#caution_log_text {
    width: 100%;
    font-family: 'fantasy';
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    background: #F9A825;
    text-align: left;
    font-size: xx-large;
}


/*end*/

.warning_text {
    width: 30%;
    height: 100%;
    display: flex;
}

.warning_text>#warning_signal {
    width: 150px;
    height: 100%;
    background-image: url("danger.png");
    background-size: 100px 130px;
    background-repeat:no-repeat;
    float: left;
}

.warning_text>#warning_log_text {
    width: 100%;
    font-family: 'fantasy';
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    background: #F44236;
    text-align: left;
    font-size: 30px;
}

/* Graph Declare */

.live_graph {
    height: 500px;
    display: flex;
}

.live_graph>#graph_area {
    width: 70%;
    height: 100%;
    margin-left: 3%;
    margin-right: 5%;
    background: white;
}

.live_graph>#doughnut_area {
    width: 30%;
    height: 100%;
    margin-left: 2.5%;
    text-align: center;
    font-size: xx-large;
}
#myChart2 {
    margin-left:5%;
}

.signal_time_view {
    width: 100%;
    height: 400px;
    display: flex;
}

.signal_time_view>#warning_time_view {
    width: 30%;
    height: 100%;
    overflow: auto;
}

.signal_time_view>#warning_process_view {
    width: 70%;
    height: 100%;
    font-size: 17px;
    overflow: auto;
}