/* Text Log Declare */

.text_log {
    height: 130px;
    display: flex;
    margin-left: 1.5%;
    margin-right: 2%;
}


/* set */

.green_text {
    width: 30%;
    height: 100%;
    margin-left: 3%;
    margin-right: 2%;
    display: flex;
    box-shadow: 7px 7px 7px;
}

.green_text>#green_signal {
    width: 150px;
    height: 100%;
    background-image: url("laugh.png");
    background-size: 100px 130px;
    background-repeat: no-repeat;
    float: left;
}

.green_text>#green_log_text {
    width: 100%;
    font-family: 'fantasy';
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    background: #2478ff;
    text-align: left;
    font-size: xx-large;
}


/*end*/

.caution_text {
    width: 30%;
    height: 100%;
    margin-left: 1%;
    margin-right: 2.5%;
    display: flex;
    box-shadow: 7px 7px 7px;
}

.caution_text>#caution_signal {
    width: 150px;
    height: 100%;
    background-image: url("sad.png");
    background-repeat: no-repeat;
    background-size: 100px 130px;
    float: left;
}

.caution_text>#caution_log_text {
    width: 100%;
    font-family: 'fantasy';
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    background: #F9A825;
    text-align: left;
    font-size: xx-large;
}


/*end*/

.warning_text {
    width: 30%;
    height: 100%;
    display: flex;
    box-shadow: 7px 7px 7px;
}

.warning_text>#warning_signal {
    width: 150px;
    height: 100%;
    background-image: url("danger.png");
    background-size: 100px 130px;
    background-repeat: no-repeat;
    float: left;
}

.warning_text>#warning_log_text {
    width: 100%;
    font-family: 'fantasy';
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    background: #F44236;
    text-align: left;
    font-size: 30px;
}


/* Graph Declare */

.live_graph {
    height: 450px;
    display: flex;
}

.live_graph>#graph_area {
    width: 60%;
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
    background: white;
    font-size: xx-large;
    box-shadow: 5px 5px 5px;
}

.live_graph>#graph_area>#line_graph_area_text {
    position: relative;
    top: -20px;
}

.live_graph>#doughnut_area {
    width: 30%;
    height: 100%;
    margin: auto 0;
    text-align: center;
    font-size: xx-large;
    background: white;
    box-shadow: 5px 5px 5px;
}

.live_graph>#doughnut_area>#doughnut_area_text {
    text-align: left;
    position: relative;
    top: -20px;
}

#myChart2 {
  position: relative;
    top: -5;
    left: 0;
    bottom: ;
    right: 0;
    height: 85%;
    margin: 5% auto;
}

.signal_time_view {
    width: 100%;
    height: 400px;
    display: flex;
}

.signal_time_view>#warning_time_view {
    width: 30%;
    height: 100%;
    overflow: auto;
}

.signal_time_view>#warning_process_view {
    width: 70%;
    height: 100%;
    font-size: 17px;
    overflow: auto;
}