* {
    display: center;
    margin: 0 auto;
}

body {
    height: 1400px;
    background: rgb(225, 225, 225);
}

nav {
    float: left;
    width: 200px;
    height: 100%;

    background: rgb(35, 35, 35);
}

nav>ul {
    text-align: center;
}

nav>ul>a>li {
    width: 100%;
    list-style: none;
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    margin-left: -20%;
    font-size: 20px;
}
/*
nav>section {
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    padding-top: 5%;
    text-align: center;
    font-size: 18px;
}
*/

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}

header {
    width: 100%;
    height: 60px;
    text-align:left;
    font-size:xx-large;
    color:white;
    background: rgb(84,185,205);
}

.text_log {
    height: 80px;
    display: flex;
}

.green_text {
    width: 31%;
    height: 100%;
    background: white;
}

.green_text>#green_signal {
    width: 120px;
    height: 100%;
    background: green;
    float: left;
}

.green_text>#green_log_text {
    text-align: right;
    font-size: xx-large;
}

.caution_text {
    width: 31%;
    height: 100%;
    background: white;
}

.caution_text>#caution_signal {
    width: 120px;
    height: 100%;
    background: yellow;
    float: left;
}

.caution_text>#caution_log_text {
    text-align: right;
    font-size: xx-large;
}

.warning_text {
    width: 31%;
    height: 100%;
    background: white;
}

.warning_text>#warning_signal {
    width: 120px;
    height: 100%;
    background: red;
    float: left;
}

.warning_text>#warning_log_text {
    text-align: right;
    font-size: xx-large;
}

.live_graph {
    height: 500px;
    display: flex;
}

.live_graph>#graph_area {
    width: 70%;
    height: 100%;
    margin-left: 5%;
}


.live_graph>#doughnut_area {
    width: 30%;
    height: 100%;
    margin-left:10%;
    text-align : center;
    font-size : xx-large;
}
