    * {
        background-color: rgb(226, 226, 226, 0.2);
    }

    section {
        margin-left: 5%;
        margin-right: 5%;
    }

    header {
        height: 25px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
        background-color: white;
    }

    header>a {
        text-decoration: none;
    }

    .article_section_01 {
        width: 100%;
        height: 400px;
        background-color: "#2a2b3d";
    }

    #myChart {
        width: 50%;
    }

    .article_section_02 {
        width: 100%;
        height: 250px;
        margin-top: 1%;
        margin-bottom: 2%;
        display: flex;
    }

    .article_section_02>#caution_alarm {
        width: 40%;
        height: 350px;
        margin-right: 3%;

    }

    .article_section_02>#caution_alarm>header {
        width: 100%;
        height: 15%;
        text-align: center;
        font-size: xx-large;
        background-color: #DA932C;
        color: white;
    }

    .article_section_02>#caution_alarm>section {
        width: 100%;
        height: 80%;
        text-align: center;
        font-size: xx-large;
        position: relative;
        top: -3%;
        overflow:auto;
    }

    .article_section_02>#warning_alarm {
        width: 40%;
        height: 350px;

    }

    .article_section_02>#warning_alarm>header {
        width: 100%;
        height: 15%;
        text-align: center;
        font-size: xx-large;
        background-color: #D65B4A;
        color: white;
    }

    .article_section_02>#warning_alarm>section {
        width: 100%;
        height: 80%;
        text-align: center;
        font-size: xx-large;
        position: relative;
        top: -3%;
        overflow:auto;
    }

    .article_section_02>#pie_chart_frame {
        width: 380px;
        margin-left: 3%;
    }