<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataVisualized.css')}}">
    <title>캡스톤 디자인</title>
</head>
<body>

  <div class="header">
        <h1>정보보호학과 캡스톤디자인</h1>
        <timer>
            <script>
                function printTime() {
                    var clock = document.getElementById("clock"); // 출력할 장소 선택
                    var now = new Date(); // 현재시간
                    var nowTime = now.getFullYear() + "년&nbsp;" + (now.getMonth() + 1) + "월&nbsp;" + now.getDate() + "일&nbsp;" + now.getHours() + "시&nbsp;" + now.getMinutes() + "분&nbsp;" + now.getSeconds() + "초";

                    clock.innerHTML = nowTime; // 현재시간을 출력
                    setTimeout("printTime()", 1000); // setTimeout(“실행할함수”,시간) 시간은1초의 경우 1000
                }
                window.onload = function() { // 페이지가 로딩되면 실행
                    printTime();
                }
            </script>

            <body>
                <span id="clock"></span> <br/>
            </body>
        </timer>
    </div>

    <div class="topnav">
        <a href="./">Main</a>
        <a href="./dataCollecting?flag=true">Data Collecting</a>
        <a href="./dataVisual">Data Visual</a>
        <a href="./dataLearned">Create Model</a>
        <a href="./dataCompare">DataCompare</a>
        <a href="./vulnerability">Vulnerability</a>
    </div>

    <h3> 사용량 통계 </h3>

  <br>
    <h2>&nbsp; &nbsp; &nbsp;&nbsp;데이터 통계</h2>
    <section class="dataGraphArea">

        <article id="graph_area">
            <canvas id="myChart1"></canvas>
        </article>

        <article id="train_data_area">
            <br><br><br><br>
            <table>
                <thead>
                    <tr>
                        <th>Minute</th>
                        <th>평균 메모리 사용량</th>
                        <th>데이터 수</th>
                    </tr>

                </thead>

                <tbody>
                    <!-- 0 minute data -->
                    <tr>
                        <td>0~10 minute </td>
                        <td>2</td>
                        <td>3</td>

                    </tr>

                    <!-- 10 minute data -->
                    <tr>
                        <td>10~20 minute</td>
                        <td>2</td>
                        <td>3</td>

                    </tr>

                    <!-- 20 minute data -->
                    <tr>
                        <td>20~30 minute</td>
                        <td>2</td>
                        <td>3</td>

                    </tr>
                    <!-- 30 minute data -->
                    <tr>
                        <td>30~40 minute</td>
                        <td>2</td>
                        <td>3</td>

                    </tr>
                    <!-- 40 minute data -->
                    <tr>
                        <td>40~50 minute</td>
                        <td>2</td>
                        <td>3</td>

                    </tr>
                    <!-- 50 minute data -->
                    <tr>
                        <td>50~60 minute</td>
                        <td>2</td>
                        <td>3</td>

                    </tr>

                </tbody>

            </table>

        </article>

    </section>
    <br>



</body>
<script>
MinuteZero = {{ train_infor[0][1] }}
MinuteOne = {{ train_infor[1][1] }}
MinuteTwo = {{ train_infor[2][1] }}
MinuteThree = {{ train_infor[3][1] }}
MinuteFour = {{ train_infor[4][1][0:10] }}
console.log(MinuteFour);
MinuteFive = {{ train_infor[5][1] }}

var statical_set = {{ train_statical }}
var td_find = document.getElementsByTagName("tbody");

for (var i=0; i<6; i++) {
    td_find[0].getElementsByTagName("tr")[i].getElementsByTagName("td")[1].textContent =  statical_set[i][0] ;
    td_find[0].getElementsByTagName("tr")[i].getElementsByTagName("td")[2].textContent =  statical_set[i][1] ;
}
</script>

<script src="{{ url_for('static' ,filename='js/statical.js') }}"></script>

</html>