<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataCompare.css')}}">
<style type="text/css">
    table, tr{
    background: white;
    width: 100%;
    height:100%;
    }

    table{
    width: 100%;
    height: 100%;
    }
    .fline{
    padding-left: 20px;

    }
    .leftline{
    border-left: 1.5px dotted black;
    padding-left: 20px;
    padding-right: 10px;
    }

    .rightline{
    border-left: 1.5px dotted black;
    padding-left: 20px;
    padding-right: 10px;
    }
</style>

</head>

<body>
<div class="header">
    <h1>정보보호학과 캡스톤디자인</h1>
    <timer>
        <script>
                function printTime() {
                    var clock = document.getElementById("clock"); // 출력할 장소 선택
                    var now = new Date(); // 현재시간
                    var nowTime = now.getFullYear() + "년&nbsp;" + (now.getMonth() + 1) + "월&nbsp;" + now.getDate() + "일&nbsp;" + now.getHours() + "시&nbsp;" + now.getMinutes() + "분&nbsp;" + now.getSeconds() + "초";

                    clock.innerHTML = nowTime; // 현재시간을 출력
                    setTimeout("printTime()", 1000); // setTimeout(“실행할함수”,시간) 시간은1초의 경우 1000
                }
                window.onload = function() { // 페이지가 로딩되면 실행
                    printTime();
                }
        </script>

        <body>
            <span id="clock"></span> <br/>
        </body>
    </timer>
</div>

<div class="topnav">
    <a href="./">Main</a>
    <a href="./dataCollecting?flag=true">Data Collecting</a>
    <a href="./dataVisual">Data Visual</a>
    <a href="./dataLearned">Create Model</a>
    <a href="">DataCompare</a>
    <a href="./vulnerability">Vulnerability</a>
</div>

<!-- Content -->
<h3>프로세스 비교</h3>
<table width="100%">
    <tr align="center">
    <th class="fline">
        <p><b>어제 실행한 프로세스</b></p>
{% for x processes_in_today %}
{{ processes_in_today['today_processes'][0] }}<br>
{{ new_processes_list['processes'][1] }}<br>
{{ new_processes_list['processes'][2] }}<br>
{{ new_processes_list['processes'][3] }}<br>
{{ new_processes_list['processes'][4] }}<br>
{{ new_processes_list['processes'][5] }}<br>
{{ new_processes_list['processes'][6] }}<br>
{{ new_processes_list['processes'][7] }}<br>
{{ new_processes_list['processes'][8] }}<br>
{{ new_processes_list['processes'][9] }}<br>
{{ new_processes_list['processes'][10] }}<br>
{{ new_processes_list['processes'][11] }}<br>
{{ new_processes_list['processes'][12] }}<br>
{{ new_processes_list['processes'][13] }}<br>
{{ new_processes_list['processes'][14] }}<br>
{{ new_processes_list['processes'][15] }}<br>
{{ new_processes_list['processes'][16] }}<br>
{{ new_processes_list['processes'][17] }}<br>
{{ new_processes_list['processes'][18] }}<br>
{{ new_processes_list['processes'][19] }}<br>
{{ new_processes_list['processes'][20] }}<br>
{{ new_processes_list['processes'][21] }}<br>
{{ new_processes_list['processes'][22] }}<br>
{{ new_processes_list['processes'][23] }}<br>
{{ new_processes_list['processes'][24] }}<br>
{{ new_processes_list['processes'][25] }}<br>
{{ new_processes_list['processes'][26] }}<br>
{{ new_processes_list['processes'][27] }}<br>
{{ new_processes_list['processes'][28] }}<br>
{{ new_processes_list['processes'][29] }}<br>
{{ new_processes_list['processes'][30] }}<br>
{{ new_processes_list['processes'][31] }}<br>
{{ new_processes_list['processes'][32] }}<br>
{{ new_processes_list['processes'][33] }}<br>
{{ new_processes_list['processes'][34] }}<br>
{{ new_processes_list['processes'][35] }}<br>
{{ new_processes_list['processes'][36] }}<br>
{{ new_processes_list['processes'][37] }}<br>
{{ new_processes_list['processes'][38] }}<br>
{{ new_processes_list['processes'][39] }}<br>
{{ new_processes_list['processes'][40] }}<br>
{{ new_processes_list['processes'][41] }}<br>
{{ new_processes_list['processes'][42] }}<br>
{{ new_processes_list['processes'][43] }}<br>
{{ new_processes_list['processes'][44] }}<br>
{{ new_processes_list['processes'][45] }}<br>
{{ new_processes_list['processes'][46] }}<br>
{{ new_processes_list['processes'][47] }}<br>
{{ new_processes_list['processes'][48] }}<br>
{{ new_processes_list['processes'][49] }}<br>
{{ new_processes_list['processes'][50] }}<br>
{{ new_processes_list['processes'][61] }}<br>
{{ new_processes_list['processes'][62] }}<br>
{{ new_processes_list['processes'][63] }}<br>
{{ new_processes_list['processes'][64] }}<br>
{{ new_processes_list['processes'][65] }}<br>
{{ new_processes_list['processes'][66] }}<br>
{{ new_processes_list['processes'][67] }}<br>
{{ new_processes_list['processes'][68] }}<br>
{{ new_processes_list['processes'][69] }}<br>
{{ new_processes_list['processes'][70] }}<br>
{{ new_processes_list['processes'][81] }}<br>
{{ new_processes_list['processes'][82] }}<br>
{{ new_processes_list['processes'][83] }}<br>
{{ new_processes_list['processes'][84] }}<br>
{{ new_processes_list['processes'][85] }}<br>
{{ new_processes_list['processes'][86] }}<br>
{{ new_processes_list['processes'][87] }}<br>
{{ new_processes_list['processes'][88] }}<br>
{{ new_processes_list['processes'][89] }}<br>
{{ new_processes_list['processes'][90] }}<br>
{{ new_processes_list['processes'][91] }}<br>
{{ new_processes_list['processes'][92] }}<br>
{{ new_processes_list['processes'][93] }}<br>
{{ new_processes_list['processes'][94] }}<br>
{{ new_processes_list['processes'][95] }}<br>
{{ new_processes_list['processes'][96] }}<br>
{{ new_processes_list['processes'][97] }}<br>
{{ new_processes_list['processes'][98] }}<br>
{{ new_processes_list['processes'][99] }}<br>
{{ new_processes_list['processes'][100] }}<br>

{% endfor %}
    </th>
        &nbsp;
        <th class="leftline">
        <p>오늘 실행한 프로세스</p>
{% for x in today_processes %}
{{ today_processes['processes_in_today'][0] }}<br>
{{ new_processes_list['processes'][1] }}<br>
{{ new_processes_list['processes'][2] }}<br>
{{ new_processes_list['processes'][3] }}<br>
{{ new_processes_list['processes'][4] }}<br>
{{ new_processes_list['processes'][5] }}<br>
{{ new_processes_list['processes'][6] }}<br>
{{ new_processes_list['processes'][7] }}<br>
{{ new_processes_list['processes'][8] }}<br>
{{ new_processes_list['processes'][9] }}<br>
{{ new_processes_list['processes'][10] }}<br>
{{ new_processes_list['processes'][11] }}<br>
{{ new_processes_list['processes'][12] }}<br>
{{ new_processes_list['processes'][13] }}<br>
{{ new_processes_list['processes'][14] }}<br>
{{ new_processes_list['processes'][15] }}<br>
{{ new_processes_list['processes'][16] }}<br>
{{ new_processes_list['processes'][17] }}<br>
{{ new_processes_list['processes'][18] }}<br>
{{ new_processes_list['processes'][19] }}<br>
{{ new_processes_list['processes'][20] }}<br>
{{ new_processes_list['processes'][21] }}<br>
{{ new_processes_list['processes'][22] }}<br>
{{ new_processes_list['processes'][23] }}<br>
{{ new_processes_list['processes'][24] }}<br>
{{ new_processes_list['processes'][25] }}<br>
{{ new_processes_list['processes'][26] }}<br>
{{ new_processes_list['processes'][27] }}<br>
{{ new_processes_list['processes'][28] }}<br>
{{ new_processes_list['processes'][29] }}<br>
{{ new_processes_list['processes'][30] }}<br>
{{ new_processes_list['processes'][31] }}<br>
{{ new_processes_list['processes'][32] }}<br>
{{ new_processes_list['processes'][33] }}<br>
{{ new_processes_list['processes'][34] }}<br>
{{ new_processes_list['processes'][35] }}<br>
{{ new_processes_list['processes'][36] }}<br>
{{ new_processes_list['processes'][37] }}<br>
{{ new_processes_list['processes'][38] }}<br>
{{ new_processes_list['processes'][39] }}<br>
{{ new_processes_list['processes'][40] }}<br>
{{ new_processes_list['processes'][41] }}<br>
{{ new_processes_list['processes'][42] }}<br>
{{ new_processes_list['processes'][43] }}<br>
{{ new_processes_list['processes'][44] }}<br>
{{ new_processes_list['processes'][45] }}<br>
{{ new_processes_list['processes'][46] }}<br>
{{ new_processes_list['processes'][47] }}<br>
{{ new_processes_list['processes'][48] }}<br>
{{ new_processes_list['processes'][49] }}<br>
{{ new_processes_list['processes'][50] }}<br>
{{ new_processes_list['processes'][61] }}<br>
{{ new_processes_list['processes'][62] }}<br>
{{ new_processes_list['processes'][63] }}<br>
{{ new_processes_list['processes'][64] }}<br>
{{ new_processes_list['processes'][65] }}<br>
{{ new_processes_list['processes'][66] }}<br>
{{ new_processes_list['processes'][67] }}<br>
{{ new_processes_list['processes'][68] }}<br>
{{ new_processes_list['processes'][69] }}<br>
{{ new_processes_list['processes'][70] }}<br>
{{ new_processes_list['processes'][81] }}<br>
{{ new_processes_list['processes'][82] }}<br>
{{ new_processes_list['processes'][83] }}<br>
{{ new_processes_list['processes'][84] }}<br>
{{ new_processes_list['processes'][85] }}<br>
{{ new_processes_list['processes'][86] }}<br>
{{ new_processes_list['processes'][87] }}<br>
{{ new_processes_list['processes'][88] }}<br>
{{ new_processes_list['processes'][89] }}<br>
{{ new_processes_list['processes'][90] }}<br>
{{ new_processes_list['processes'][91] }}<br>
{{ new_processes_list['processes'][92] }}<br>
{{ new_processes_list['processes'][93] }}<br>
{{ new_processes_list['processes'][94] }}<br>
{{ new_processes_list['processes'][95] }}<br>
{{ new_processes_list['processes'][96] }}<br>
{{ new_processes_list['processes'][97] }}<br>
{{ new_processes_list['processes'][98] }}<br>
{{ new_processes_list['processes'][99] }}<br>
{{ new_processes_list['processes'][100] }}<br>

{% endfor %}
    </th>

        &nbsp;
        <th class="rightline">
        <p>중복되지 않은 프로세스</p>
{% for x in new_processes_list %}
{{ new_processes_list['processes'][0] }}<br>
{{ new_processes_list['processes'][1] }}<br>
{{ new_processes_list['processes'][2] }}<br>
{{ new_processes_list['processes'][3] }}<br>
{{ new_processes_list['processes'][4] }}<br>
{{ new_processes_list['processes'][5] }}<br>
{{ new_processes_list['processes'][6] }}<br>
{{ new_processes_list['processes'][7] }}<br>
{{ new_processes_list['processes'][8] }}<br>
{{ new_processes_list['processes'][9] }}<br>
{{ new_processes_list['processes'][10] }}<br>
{{ new_processes_list['processes'][11] }}<br>
{{ new_processes_list['processes'][12] }}<br>
{{ new_processes_list['processes'][13] }}<br>
{{ new_processes_list['processes'][14] }}<br>
{{ new_processes_list['processes'][15] }}<br>
{{ new_processes_list['processes'][16] }}<br>
{{ new_processes_list['processes'][17] }}<br>
{{ new_processes_list['processes'][18] }}<br>
{{ new_processes_list['processes'][19] }}<br>
{{ new_processes_list['processes'][20] }}<br>
{{ new_processes_list['processes'][21] }}<br>
{{ new_processes_list['processes'][22] }}<br>
{{ new_processes_list['processes'][23] }}<br>
{{ new_processes_list['processes'][24] }}<br>
{{ new_processes_list['processes'][25] }}<br>
{{ new_processes_list['processes'][26] }}<br>
{{ new_processes_list['processes'][27] }}<br>
{{ new_processes_list['processes'][28] }}<br>
{{ new_processes_list['processes'][29] }}<br>
{{ new_processes_list['processes'][30] }}<br>
{{ new_processes_list['processes'][31] }}<br>
{{ new_processes_list['processes'][32] }}<br>
{{ new_processes_list['processes'][33] }}<br>
{{ new_processes_list['processes'][34] }}<br>
{{ new_processes_list['processes'][35] }}<br>
{{ new_processes_list['processes'][36] }}<br>
{{ new_processes_list['processes'][37] }}<br>
{{ new_processes_list['processes'][38] }}<br>
{{ new_processes_list['processes'][39] }}<br>
{{ new_processes_list['processes'][40] }}<br>
{{ new_processes_list['processes'][41] }}<br>
{{ new_processes_list['processes'][42] }}<br>
{{ new_processes_list['processes'][43] }}<br>
{{ new_processes_list['processes'][44] }}<br>
{{ new_processes_list['processes'][45] }}<br>
{{ new_processes_list['processes'][46] }}<br>
{{ new_processes_list['processes'][47] }}<br>
{{ new_processes_list['processes'][48] }}<br>
{{ new_processes_list['processes'][49] }}<br>
{{ new_processes_list['processes'][50] }}<br>
{{ new_processes_list['processes'][61] }}<br>
{{ new_processes_list['processes'][62] }}<br>
{{ new_processes_list['processes'][63] }}<br>
{{ new_processes_list['processes'][64] }}<br>
{{ new_processes_list['processes'][65] }}<br>
{{ new_processes_list['processes'][66] }}<br>
{{ new_processes_list['processes'][67] }}<br>
{{ new_processes_list['processes'][68] }}<br>
{{ new_processes_list['processes'][69] }}<br>
{{ new_processes_list['processes'][70] }}<br>
{{ new_processes_list['processes'][81] }}<br>
{{ new_processes_list['processes'][82] }}<br>
{{ new_processes_list['processes'][83] }}<br>
{{ new_processes_list['processes'][84] }}<br>
{{ new_processes_list['processes'][85] }}<br>
{{ new_processes_list['processes'][86] }}<br>
{{ new_processes_list['processes'][87] }}<br>
{{ new_processes_list['processes'][88] }}<br>
{{ new_processes_list['processes'][89] }}<br>
{{ new_processes_list['processes'][90] }}<br>
{{ new_processes_list['processes'][91] }}<br>
{{ new_processes_list['processes'][92] }}<br>
{{ new_processes_list['processes'][93] }}<br>
{{ new_processes_list['processes'][94] }}<br>
{{ new_processes_list['processes'][95] }}<br>
{{ new_processes_list['processes'][96] }}<br>
{{ new_processes_list['processes'][97] }}<br>
{{ new_processes_list['processes'][98] }}<br>
{{ new_processes_list['processes'][99] }}<br>
{{ new_processes_list['processes'][100] }}<br>

{% endfor %}
    </th>
    </tr>
</table>
</body>
</html>