<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Board</title>



    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="{{ url_for('static' ,filename='js/util.js') }}"></script>
    <script>
    function test() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if(xhr.readyState == 4 && xhr.status ==200) {
                var predict_data = xhr.responseText
                var obj = document.getElementById("getPredictData");

                obj.insertAdjacentHTML("beforeend",'<br>'+predict_data+'</br>');
                obj.scrollTop = obj.scrollHeight;
            }
        }
        xhr.open("Post", "./predict", true);
        xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
	    xhr.send('predict='+1);
    }

    function startPredict() {
        test();
        timerId = setInterval(test, 2000);
    }

</script>

</head>
<body>


    <header>

    </header>


    <section>

        <article class="article_section_01">

            <article class="article_section_01_1">
                <canvas id="myChart"></canvas>

            </article>

            <article class="article_section_01_2">


            </article>
        </article>



    </section>
</body>


</html>