<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>캡스톤 디자인</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/IndexStyle.css')}}">
</head>

<body>
<div class="header">
    <h1>정보보호학과 캡스톤디자인</h1>
    <timer>
        <body>
        <span id="clock"></span> <br/>
        </body>
    </timer>
</div>

<!-- Menu Declare -->
<div class="topnav">
    <a href="./">Main</a>
    <a href="./dataCollecting?flag=true">Data Collecting</a>
    <a href="./dataVisual">Data Visual</a>
    <a href="./dataLearned">Create Model</a>
    <a href="./dataCompare">DataCompare</a>
</div>
<!-- End -->

<h3> 실시간 통계 </h3>

<div class="card">
    <section class="text_log">

        <article class="green_text">
            <div id="green_signal"></div>
            <div id="green_log_text">&nbsp;</div>
        </article>

        <article class="caution_text">
            <div id="caution_signal"></div>
            <div id="caution_log_text">&nbsp;</div>
        </article>

        <article class="warning_text">
            <div id="warning_signal"></div>
            <div id="warning_log_text">&nbsp;</div>
        </article>

    </section>

    <br>

    <section class="live_graph">
        <article id="graph_area">
            <canvas id="myChart"></canvas>
        </article>

        <article id="doughnut_area">
            <div id="doughnut_area_text"> Graph Status</div>
            <canvas id="myChart2"></canvas>
        </article>

    </section>
    <br>
    <h3>Warning Log</h3>
    <section class="signal_time_view">
        <article id="warning_time_view">
        </article>

        <article id="warning_process_view">
        </article>
    </section>

</div>

</body>

<script>
    function test() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if(xhr.readyState == 4 && xhr.status == 200) {
                var predict_data = xhr.responseText
                var obj = document.getElementById("getPredictData");

                obj.insertAdjacentHTML("beforeend",'<br>'+predict_data+'</br>');
                obj.scrollTop = obj.scrollHeight;
            }
        }
        xhr.open("Post", "./predict", true);
        xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
	    xhr.send('predict='+1);
    }


</script>
<script src="{{ url_for('static' ,filename='js/util.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


</html>