<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash Board</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">


</head>
<body>


<header>

    <a href="#"> 데이터 수집</a> /
    <a href="#"> 데이터 학습</a>

</header>

<section>
    <article class="article_section_01">
        <canvas id="myChart"></canvas>
    </article>

    <article class="article_section_02">

        <div id="caution_alarm">
            <header>
                Caution log
            </header>

            <section id="caution_data_view">

            </section>

        </div>

        <div id="warning_alarm">
            <header>
                Warning log
            </header>

            <section id="warning_data_view">

            </section>

        </div>


        <div id="pie_chart_frame">
            <canvas id="myChart2"></canvas>
        </div>


    </article>
</section>


</body>

<script>
    function test() {
        var xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if(xhr.readyState == 4 && xhr.status ==200) {
                var predict_data = xhr.responseText
                var obj = document.getElementById("getPredictData");

                obj.insertAdjacentHTML("beforeend",'<br>'+predict_data+'</br>');
                obj.scrollTop = obj.scrollHeight;
            }
        }
        xhr.open("Post", "./predict", true);
        xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
	    xhr.send('predict='+1);
    }

    function startPredict() {
        test();
        timerId = setInterval(test, 2000);
    }


    </script>

<script src="{{ url_for('static' ,filename='js/util.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</html>